{{#if pagination.prev}}
<a href="{{pagination.prev}}" class="btn-secondary">← Plus récents</a>
{{/if}}
{{#if pagination.next}}
<a href="{{pagination.next}}" class="btn-secondary">Plus anciens →</a>
{{/if}}
